*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height:100vh ;
    
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {

    height: 350px;
    width: 700px;

    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(155, 155, 155);

    position: relative;
    background-color: white;
}
.body-card{
    margin-top: 5%;
}

.simbol{
    font-size: 50px;
}

.body-text p{
    font-size: 30px;
    text-align: center;
    padding: 0 5%;
}

h2{
    font-family: 35px;
    text-align: end;
    margin-top: 50px;
    margin-right: 7%;
}
.options{
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.options button{
    padding: 15px 15px;
    margin-right:7% ;
    border-radius: 50%;

    position: absolute;
    bottom: 25px;
    
}

@media (max-width: 600px) {

    .card {
        margin: 0 30px;
    }

    .body-text p{
        font-size: 15px;
        
    }


   
}